{% extends "layout/base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <div class="container">
        <div class="row row-0">
            <div class="col-4 column-0">
                <div class="square-responsive">
                    <div class="content">
                        Hello123
                    </div>
                </div>
            </div>
            <div class="col-4 column-1">
                <div class="square-responsive">
                    <div class="content">
                        Hello
                    </div>
                </div>
            </div>
            <div class="col-4 column-2">
                <div class="square-responsive">
                    <div class="content">
                        Hello
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-1">
            <div class="col-4 column-0">
                <div class="square-responsive">
                    <div class="content">
                        Hello
                    </div>
                </div>
            </div>
            <div class="col-4 column-1">
                <div class="square-responsive">
                    <div class="content">
                        Hello
                    </div>
                </div>
            </div>
            <div class="col-4 column-2">
                <div class="square-responsive">
                    <div class="content">
                        Hello
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-2">
            <div class="col-4 column-0">
                <div class="square-responsive">
                    <div class="content">
                        Hello
                    </div>
                </div>
            </div>
            <div class="col-4 column-1">
                <div class="square-responsive">
                    <div class="content">
                        Hello
                    </div>
                </div>
            </div>
            <div class="col-4 column-2">
                <div class="square-responsive">
                    <div class="content">
                        Hello
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="important">
        Welcome to my awesome homepage.
    </p>
{% endblock %}